<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">INITIAL INVESTMENT</label>
      <input type="number" id="initial-investment" name="initial-investment" />
    </p>
    <p>
      <label for="annual-investment second-column">ANNUAL INVESTMENT</label>
      <input type="number" id="annual-investment" name="annual-investment" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">EXPECTED RETURN</label>
      <input type="number" id="expected-return" name="expected-return" />
    </p>
    <p>
      <label for="duration">DURATION</label>
      <input type="number" id="duration" name="duration" />
    </p>
  </div>
  <p>
    <button type="submit">Calculate</button>
  </p>
</form>
